= haml :_header

%textarea.in.responders{  :autofocus => true, :rows => [@responders[:in].size + 1,  10].max, :cols => 40 }= @output[:in]
%textarea.out.responders{ :autofocus => true, :rows => [@responders[:out].size + 1, 10].max, :cols => 40 }= @output[:out]

%p#footer
  %a{ :href => '/' } Regular list
  &bull;
  Delete responsibly.
  &bull;
  %a{ :href => 'http://tonight.pm' } tonight.pm
