= haml :_header

.in.responders
  %form.add{ :action => '/add', :method => 'POST' }
    %label{ :for => 'name' } Name
    %input{ :type => 'text', :id => 'name', :name => 'name', :autofocus => true }
    %button I&rsquo;m in

  = haml :_responders, :locals => { :responders => @responders[:in] }

.out.responders
  %form.add{ :action => '/add', :method => 'POST' }
    %label{ :for => 'name' } Name
    %input{ :type => 'text', :id => 'name', :name => 'name' }
    %button{ :name => 'out', :value => 'true' } I&rsquo;m out

  = haml :_responders, :locals => { :responders => @responders[:out] }

%p#footer
  %a{ :href => '/copy' } Copy names
  &bull;
  Delete responsibly.
  &bull;
  %a{ :href => 'http://tonight.pm' } tonight.pm
