%h1 tonight.pm

%p
  <strong>tonight.pm</strong> is a handy tool to facilitate RSVPs on the day of an event. Maybe you have a weekly meetup or a group of friends who all go to the same bar, and it would help if you knew how many people were going to be there.
  
%p
  By visiting your own page at <span class='example-address'><code>anything</code>.tonight.pm</span>, you and your friends can quickly add yourselves to the list of attendees and get on with your day.

%p#generator
  Try it now! Go to <span class='example-address'><code>anything</code>.tonight.pm</span>, or try this random, unoccupied page:

  %a#lazy{:href => "http://#{rando}.#{ENV['SITE_DOMAIN']}"} 
    #{rando}.#{ENV['SITE_DOMAIN']}
