%html
  %head
    %title tonight.pm
    %link{ :rel => 'stylesheet', :href => 'whos-in.css' }
    %meta{ :name => 'viewport', :content => 'width=320, initial-scale=1, maximum-scale=1' }
    
  %body
    = yield
