%html
  %head
    %title tonight.pm
    %meta{ :name => 'viewport', :content => 'width=320, initial-scale=1, maximum-scale=1' }
    %link{ :rel => 'stylesheet', :href => 'tonight.css' }
    %script{ :src => 'http://code.jquery.com/jquery-1.7.1.min.js' }
    %script{ :src => 'application.js' }

  %body
    = yield
