body {
  background-color: #880000;
  font-family: "Helvetica", sans-serif; }

#header {
  text-align: center; }

div {
  margin-top: 10px;
  margin-bottom: 10px; }

#content {
  padding: 20px;
  background-color: #eeeeee;
  width: 500px;
  margin-left: auto;
  margin-right: auto;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  -webkit-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25); }

.add {
  margin-left: auto;
  margin-right: auto;
  width: 300px; }

.entry {
  width: 75%; }

.button {
  width: 20%; }

#count {
  font-weight: bold;
  font-size: 1.25em;
  text-align: center; }

#attendees {
  list-style: none;
  width: 300px;
  margin-left: auto;
  margin-right: auto; }

.attendee {
  margin-bottom: 1em; }

.delete {
  display: inline; }

.remove {
  display: inline;
  border: 0px;
  color: #888888;
  background: inherit; }

.timestamp {
  color: #888888;
  font-size: 0.6em; }

#footer {
  font-size: 0.75em;
  text-align: center;
  font-style: italic; }
